﻿<!DOCTYPE html>

<html data-ng-app="mainApp" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Онлайн-магазин подарков и украшений - GiftStore</title>

    <!-- CSS files -->
    <link href="App/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="App/CSS/loading-bar.css" rel="stylesheet"/>
    <link href="App/CSS/custom.css" rel="stylesheet" />

    <!-- AngularJS files -->
    <script type="text/javascript" src="App/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="App/Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="App/Scripts/angular-cookies.min.js"></script>
    <script type="text/javascript" src="App/Scripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="App/Scripts/loading-bar.min.js"></script>
    <script type="text/javascript" src="App/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="App/Scripts/dropdown.js"></script>
</head>
<body id="main">
    <div id="page">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-gift"></span> GiftStore</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Главная</a></li>
                        <li><a href="#/items">Товары</a></li>
                        <li><a href="#/categories">Категории</a></li>
                    </ul>

                    <ul data-ng-show="!currentUser" class="nav navbar-nav navbar-right">
                        <li><a href="#/login">Войти</a></li>
                        <li><a href="#/register">Регистрация</a></li>
                    </ul>

                    
                    <ul data-ng-show="currentUser" class="nav navbar-nav navbar-right">
                        <li><p class="navbar-text" data-ng-if="currentUser"><span class="glyphicon glyphicon-user"></span> Здравствуйте, {{ currentUser.name }}!</p></li>
                        <li><a href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина</a></li>
                        <li><a href="#/bookmarks"><span class="glyphicon glyphicon-bookmark"></span> Мои закладки</a></li>
                    	<li><a href="#" data-ng-click="AuthenticationService.logout()">Выйти</a></li>
                    </ul>
                </div>
            </nav>
            <hr />
            <!-- End of topmenu -->
            <div class="page-header text-over-image" style="margin: auto;">
                <img src="App/Images/header.png" class="img-responsive"/>
                <div class="text-over-image-group">
                    <h3>Новые поступления подарков!</h3>
                    <hr />
                    <span>Начните выбор подарков и украшений прямо сейчас!
                        <br /><br />
                        <button type="button" class="btn btn-default">
                            <a href="#/items">Начать!</a>
                        </button>
                    </span>
                </div>
                <br />
            </div>
        </div>
        <br />
        <section id="body" class="container">
            <!-- Include angular data area -->
            <div data-ng-view=""></div>

        </section>
        <hr />
        <footer class="container">
            <p><span class="glyphicon glyphicon-gift"></span> Онлайн-магазин подарков и украшений - <a href="#">GiftStore</a></p>
        </footer>
    </div>
</body>
</html>

<!-- AngularJS scripts -->
<script type="text/javascript" src="App/MainApp.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="App/Controllers/ItemsController.js"></script>
<script type="text/javascript" src="App/Controllers/CategoriesController.js"></script>
<script type="text/javascript" src="App/Controllers/LoginController.js"></script>
<!-- Auth controller -->
<script type="text/javascript" src="App/Controllers/AppController.js"></script>

<!-- AngularJS constants block -->
<script type="text/javascript" src="App/Scripts/Constants/AuthenticationEvents.js"></script>
<script type="text/javascript" src="App/Scripts/Constants/UserRoles.js"></script>

<!-- AngularJS factories and services -->
<script type="text/javascript" src="App/Scripts/Services/AuthenticationService.js"></script>
<script type="text/javascript" src="App/Scripts/Factories/LoginService.js"></script>
<script type="text/javascript" src="App/Scripts/Services/Session.js"></script>