﻿.text-over-image {
    position: relative;
    display: inline-block;
}

.text-over-image .text-over-image-group {
    display: block;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 220px;

    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.3);
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    color: white;
    text-align: center;
}

.text-over-image h3 {
    font-size: 18px;
    color: white;
}

.animate-if {
    background: none;
}

.animate-if.ng-enter, .animated-items.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}