﻿<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2" data-ng-controller="itemsController">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-9">
                <input type="text" data-ng-model="searchQuery" class="form-control" data-ng-change="(items.length == 0) ? findItems() : return;" placeholder="Товар из каталога">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="registerCaseImportant" data-ng-init="registerCaseImportant = false"> С учетом регистра
                    </label>
                </div>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary pull-right" data-ng-click="findItems()"><span class="glyphicon glyphicon-search"></span> Поиск</button>
            </div>
        </div>
    </form>

    <div data-ng-show="items.length != 0">
        Сортировать по:
        <button class="btn btn-{{ (sortType == 1) ? 'primary' : 'default' }} btn-xs" data-ng-click="doSortByCost()">
            цене <span class="glyphicon glyphicon-arrow-{{ sortedByCost ? 'down' : 'up' }}"></span>
        </button>
         или 
        <button class="btn btn-{{ (sortType == 2) ? 'primary' : 'default' }} btn-xs" data-ng-click="doSortByExisting()">наличию на складе</button>
    </div>
    <br />

    <ul class="list-group">
    	<li class="list-group-item animate-if" data-ng-animate-children="" data-ng-repeat="item in items">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ item.name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="#/api/values/{{ item.id }}" title="{{ item.name }}">
                                <img src="{{ item.Pictures[0].url }}" alt="{{ item.name }}" class="img-responsive img-thumbnail" />
                            </a>
                            <br />
                            <br />
                        </div>
                        <div class="col-xs-6">
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="col-xs-3 text-center">
                            <span class="badge">{{ item.Currency.price }} {{ item.Currency.value }}</span>
                            <h5>{{ (item.available == true) ? 'Есть на складе' : 'Нет на складе' }}</h5>
                            <br />
                            <button type="button" class="{{ (item.available == true) ? 'btn btn-default' : 'btn btn-default disabled' }}">
                                <a href="#/api/offers/{{ item.id }}"><span class="glyphicon glyphicon-shopping-cart"></span> Заказать</a>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="#/items" data-ng-click="AddDeleteBookmark(item.id)">
                                <span class="glyphicon glyphicon-bookmark"></span>
                                {{ !IsBookmarked(item.id) ? ' Добавить в закладки' : ' Убрать из закладок' }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    	</li>
    </ul>

    <div class="well well-sm" data-ng-show="items.length == 0">
        <h3><span class="glyphicon glyphicon-search"></span> К сожалению, по вашему запросу "{{ searchQuery }}" ничего не найдено.</h3>
        <br />
        <h4>Попробуйте изменить запрос или <a href="#/items" data-ng-click="registerCaseImportant = false; findItems()">воспользуйтесь поиском без учета регистра</a></h4>
    </div>
</div>