﻿<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3" data-ng-controller="loginController">

    <div class="well well-sm animate-if" data-ng-animate-children="" data-ng-if="!isAuthenticated() && manualAuthenticateTrying">
        <h3><span class="glyphicon glyphicon-remove"></span> К сожалению, не удалось авторизоваться с текущими логином и/или паролем.</h3>
        <br />
        <h4>Пожалуйста, проверьте введенные данные и попробуйте снова.</h4>
    </div>

    <div class="well well-sm animate-if" data-ng-animate-children="" data-ng-if="isAuthenticated()">
        <h3><span class="glyphicon glyphicon-ok"></span> Вы успешно вошли под вашим логином и паролем!</h3>
        <br />
        <h4>Можно продожлить просмотр сайта, начиная с, например, <a href="#/items">страницы товаров</a> или <a href="#/categories">категорий</a>.</h4>
    </div>

    <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2" data-ng-if="!isAuthenticated()" data-ng-animate-children="">
        <form class="form-login" role="form" data-ng-submit="manualLogin(credentials)">
            <h2 class="form-login-heading">Войти на сайт</h2>

            <input type="text" class="form-control" placeholder="Имя пользователя" data-ng-model="credentials.login" required autofocus>
            <br />
            <input type="password" class="form-control" placeholder="Пароль" data-ng-model="credentials.pass" required>

            <br />
            <br />

            <button class="btn btn-lg btn-primary btn-block" type="submit"> Войти</button>
        </form>
    </div>
</div>
