﻿<div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
    <form class="form-login" role="form">
        <h2 class="form-login-heading">Регистрация на сайте</h2>
        <input type="text" class="form-control" placeholder="Имя пользователя" data-ng-model="login.userName" required autofocus>
        <br />
        <input type="password" class="form-control" placeholder="Пароль" data-ng-model="login.password" required>
        <br />
        <input type="password" class="form-control" placeholder="Повторите пароль" data-ng-model="login.password" required>

        <br />
        <br />

        <button class="btn btn-lg btn-primary btn-block" type="submit" data-ng-click="register()">Войти</button>
    </form>
</div>
